@page "/"
@using WebAplikacijaZaUgostiteljskeObjekte.Shared

@inject ISyncLocalStorageService localStorage
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Dobrodošli!</h1>
    </NotAuthorized>
    <Authorized>
        <h1>Dobrodošli, @PrijavljeniKorisnik</h1>
    </Authorized>
</AuthorizeView>

<UgostiteljskiObjektiList />

@code
{

    public List<UserModel> Users { get; set; } = new();

    public string PrijavljeniKorisnik;

    protected override async Task OnInitializedAsync()
    {
        Users = await Http.GetFromJsonAsync<List<UserModel>>("api/User");

        string email = localStorage.GetItemAsString("email");
        string result = email.Trim('"');


        foreach(var user in Users)
        {
            if(user.Email == result)
            {
                PrijavljeniKorisnik = user.Name + " " + user.LastName;
            }
        }
    }



}
