@page "/mapa"
@using WebAplikacijaZaUgostiteljskeObjekte.Shared

@inject IJSRuntime JSRunetime
@inject HttpClient Http



<h3>Prikaz svih ugostiteljskih objekata na karti</h3>

<div id="map" style="height:800px;width:80%;margin-left:auto;margin-right:auto;">
</div>

@code {
    public List<UgostiteljskiObjektiModel> UgostiteljskiObjekti { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstrender)
    {
        UgostiteljskiObjekti = await Http.GetFromJsonAsync<List<UgostiteljskiObjektiModel>>("api/UgostiteljskiObjekti");


        if(firstrender)
        {
            await JSRunetime.InvokeVoidAsync("initMap", null);
            for(int i = 0;i < UgostiteljskiObjekti.Count(); i++)
            {
                await JSRunetime.InvokeVoidAsync("geocodeAddress",UgostiteljskiObjekti[0].UgostiteljskiObjektiLatituda,UgostiteljskiObjekti[0].UgostiteljskiObjektiLongituda);
            }

        }
    }


}
