@using WebAplikacijaZaUgostiteljskeObjekte.Shared
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ISnackbar snackbar


<EditForm Model="UOBrojtelefona" OnValidSubmit="EditDeveloper">
    <MudDialog>
        <DialogContent>
            <div class="d-flex flex-column py-1">
                <MudText>Unesite broj telefona</MudText>
                <MudTextField Label="Novi broj:" 
                             Mask="@(new PatternMask("000 000 000"))" @bind-Value="UOBrojtelefona.UgostiteljskiObjektiKontakt" For="@(() => UOBrojtelefona.UgostiteljskiObjektiKontakt)"/>
            </div>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Close">Odustani</MudButton>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Uredi</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string Brojtelefona { get; set; }

    [Parameter] public string UOId { get; set; }

    public UgostiteljskiObjektiModel UOBrojtelefona { get; set; } = new();


    protected async override Task OnParametersSetAsync()
    {
        UOBrojtelefona = await Http.GetFromJsonAsync<UgostiteljskiObjektiModel>($"api/UgostiteljskiObjekti/{UOId}");
    }

    void Close() => MudDialog.Close(DialogResult.Ok(true));

    // uređivanje broja
    async Task EditDeveloper()
    {
        await Http.PutAsJsonAsync("api/UgostiteljskiObjekti", UOBrojtelefona);
        navigationManager.NavigateTo("/ugostiteljskiobjekti/" + UOId, true);
        snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        snackbar.Add("Uspješno ste uredili kontakt!");
    }


}